<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.mapper.ProductSaleInfoMapper">
      <resultMap id="BaseResult" type="com.zyt.entity.ProductSaleInfo">
           <result column="prodsId" property="prodsId" javaType="java.lang.Integer" jdbcType="INTEGER" />
           <result column="pproId" property="pproId" javaType="java.lang.Integer" jdbcType="INTEGER" />
           <result column="saleCount" property="saleCount" javaType="java.lang.Integer" jdbcType="INTEGER"/>
      </resultMap>

    <select id="getProductSaleCountByProdId" parameterType="int" resultMap="BaseResult">
        select * from prodSaleInfo where 1 = 1 and pproId = #{productId}
    </select>
</mapper>