<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.mapper.ProdSaleInfoMapper">
    <resultMap id="BaseResult" type="com.zyt.entity.ProdSaleInfo">
           <result column="prodsId" property="prodsId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
           <result column="pproId" property="pproId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
           <result column="saleCount" property="saleCount" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getProdSaleInfo" resultMap="BaseResult">
          select * from prodSaleInfo
    </select>
    <select id="getProdSaleInfoProdId" parameterType="int" resultType="int">
        select pproId from prodSaleInfo where saleCount = #{topNineProdInfos}
    </select>
</mapper>