<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.mapper.SystemUserLoginMapper">
   <resultMap id="BaseResult" type="com.zyt.entity.SystemUser">
           <result column="user_id" property="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
           <result column="realname" property="realname" javaType="java.lang.String" jdbcType="VARCHAR" />
           <result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
           <result column="phone" property="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
           <result column="user_passWord" property="user_passWord" javaType="java.lang.String" jdbcType="VARCHAR" />
           <result column="role_id" property="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
           <result column="user_status" property="user_status" javaType="java.lang.String" jdbcType="VARCHAR" />
           <association property="systemRole" javaType="com.zyt.entity.SystemRole">
               <result column="role_id" property="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
               <result column="role_name" property="role_name" javaType="java.lang.String" jdbcType="VARCHAR" />
               <result column="role_context" property="role_context" javaType="java.lang.String" jdbcType="VARCHAR" />
               <result column="role_create_time" property="role_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
               <result column="role_desc" property="role_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
               <result column="role_update_time" property="role_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
           </association>
   </resultMap>

    <select id="checkIsExistsOfCurrUserByUserName" parameterType="String" resultMap="BaseResult">
      select * from sys_user where 1 = 1
        <if test="userName != null">and username = #{userName} </if>
    </select>

    <select id="getUserRolePermissionOfCurrUserByUserId" parameterType="int" resultType="String">
        select c.role_name from  sys_user a
        left join sys_user_role b on a.user_id = b.user_id
        left join sys_role c on b.role_id = c.role_id
        where a.user_id = #{user_id}
    </select>

    <select id="getUserNameAndUserRoleName" resultType="String" resultMap="BaseResult">
        select a.*,c.* from sys_user a
        left join sys_user_role b on a.user_id = b.user_id
        left join sys_role c on b.role_id = c.role_id
        where c.role_name = #{authority}
<!--        <foreach collection="roleInfoList" item="roleInfo" open="("  separator="," close=")">-->
<!--            #{roleInfo}-->
<!--        </foreach>-->
    </select>

</mapper>