<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.mapper.SystemMenuMapper">
     <resultMap id="BaseResult" type="com.zyt.entity.SystemMenu">
          <result column="menu_id" property="menu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <result column="menu_name" property="menu_name" javaType="java.lang.String" jdbcType="VARCHAR" />
          <result column="menu_icon" property="menu_icon" javaType="java.lang.String" jdbcType="VARCHAR" />
          <result column="menu_path" property="menu_path" javaType="java.lang.String" jdbcType="VARCHAR" />
          <result column="menu_father_id" property="menu_father_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <result column="menu_child_id" property="menu_child_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
          <result column="permission" property="permission" javaType="java.lang.String" jdbcType="VARCHAR" />
          <result column="createtime" property="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
          <result column="updatetime" property="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP"  />
     </resultMap>

     <select id="getSystemMenuOfCurrUserByRoleId" parameterType="int" resultMap="BaseResult">
         select c.*  from  sys_role a left join sys_role_menu b on a.role_id = b.role_id left join sys_menu c on b.menu_id = c.menu_id
         where 1 = 1 <if test="roleId != null">and b.role_id = #{roleId}</if>
     </select>
</mapper>